@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lemonada:wght@400;600&family=Lobster&family=Signika:wght@300;400;515&display=swap');
body {
    background: #3D3D3D;
    overflow: hidden;
}
.list1 li{
    position: relative;
    width: 330px;
    height: 50px;
    mix-blend-mode: normal;
    border-radius: 20px;
    text-align: left;
    padding: 0 0px 0 5px;
    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    margin-left: -28;
    margin-top: 10;
    line-height: 50px;
    list-style-type: none;
    cursor: pointer;
    background: none;
    color: black;
    border: 2px solid black;
}

.listselected {
    background: black;
    color: white;  
}
.back {
    position: absolute;
    width: 400px;
    height: 720px;
    background: #e2e2e2;
    display: block;
    margin-left: 35%;
    margin-top: 5%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.back1 {
    position: absolute;
    width: 370px;
    height: 458px;
    background: #eeeeee;
    margin-top: 192;
    margin-left: 15;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 15px;
}
.back2 {
    position: absolute;
    width: 400px;
    height: 220px;
    background: linear-gradient(180deg, rgba(0, 255, 255, 0.9) 0%, rgba(0, 255, 26, 0.486) 100%);
    font-family: 'Lobster', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 130px;
    color: #000000;
    text-align: center;
    border-radius: 10px;
}
.field {
    width: 370px;
    height: 70px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 3px solid #000000;
    line-height: 60px;
    font-size: 36px;
    margin-top: -20;
    font-family: 'Signika', sans-serif;
    outline: none;
}
.but {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 3px solid #000000;
    background: #000000;
    font-size: 60px;
    color: white;
    border-radius: 40px;
    margin-top: 655px;
    margin-left: 45px;
    line-height: 55px;
    cursor: pointer;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
}

.but1 {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 3px solid #000000;
    background: #000000;
    font-size: 40px;
    color: white;
    border-radius: 40px;
    margin-top: 655px;
    margin-left: 285px;
    line-height: 55px;
    cursor: pointer;
    outline: none;
    font-family: "Calibri";
}

.but2 {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 3px solid #000000;
    background: #000000;
    font-size: 30px;
    color: white;
    border-radius: 40px;
    margin-top: 655px;
    margin-left: 165px;
    line-height: 0;
    cursor: pointer;
    outline: none;
    font-family: "Calibri";
}

button:hover {
    border: 3px solid #40e6b4;
    background: #40e6b4;
    color: black;
    outline: none;
}
button:active{
    background: #38cfa2;
    border: 1px solid #38cfa2;
    color: black;
    outline: none;
}